$primary : #f8f7f7;
@import "bootstrap";
$font-weight-bold: 700;
$h3-font-size:1.20rem;
$p-font-size:0.9rem;
$dark: $gray-900;
$color-oferta: #ea2840;


*{
    margin: 0;
    padding: 0;
} 

.logo{
    height: 40px;
    width: 91px;
    filter: hue-rotate(120deg) brightness(200%);
}


.carrito{
    width: 50px;
    filter: hue-rotate(120deg) brightness(500%);
}

h3{
    font-weight: $font-weight-bold;
    font-size: $h3-font-size;
    color:  $primary;
}
h6{
    color: $color-oferta
}
p{
    font-size: $p-font-size;
    color: $primary;

}

.cards1{
    background-color: $dark;
}

.card2,
.card3
{
    border: 0px;
 
}

.card-img-top{
    width: 80px;
 
}  


.ofertas{
    width:200px;
}

.cajax{
    border:1px solid #babacc;
        &:hover{
            -webkit-box-shadow: -1px 0px 11px -1px rgba(35,43,28,1);
            -moz-box-shadow: -1px 0px 11px -1px rgba(35,43,28,1);
            box-shadow: -1px 0px 11px -1px rgba(35,43,28,1);
            transition-duration: 1s;
        }
}

@mixin flexible ($dis, $direction, $corte, $just, $align){
    display : $dis;
    flex-flow : $direction $corte;
    justify-content: $just;
    align-items : $align
}

.flex{
    gap:10px;
    @include flexible( flex, row, nowrap, center, center)
}


.fondo-oferta{
    background-color: $dark;
}





@mixin mv( $media : 346px){
    @media screen and (max-width: $media){
        @content;
    }
}

.carrusel {
    width:100%;
    @include mv(768px){ 
        height: 200px ;
    }
    @include mv(576px){ height:200px !important;}
    @include mv(480px){width: 100%;height:120px !important; }
    @include mv(){  height:100px !important;}
  }

.cajas1{
    display: flex;
    flex-direction: row;
  
}

.ofertas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    gap: 10px;
}

.flex-item{
    width: 200px;
}

.vermasx{
    display: inline-flex;
    align-items: center;
   

}
.vermas{    
    color: #f50;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: underline;
    &:hover{
        color: rgb(173, 60, 4);
    }
}
